@media all and (min-width: 1200px) {
    .reportBar{
        position: relative;
        left: 0;
        top: -20px;    
        height: 70px;
        width: 100%;
        background-color: rgb(219, 205, 3);
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .titleReportBar{
        position: relative;
        top:15px;    
    }
    
    .ReportView{
        position: relative;
        top:0px;    
        word-wrap: break-word;
        height: 100%;
    }

}