@media all and (min-width: 1200px) {
    .paymentBar{
        position: relative;
        left: 0;
        top: -20px;    
        height: 70px;
        width: 100%;
        background-color: rgb(33, 196, 0);
        color:rgb(252, 252, 252);
        text-align: center;
    }

    .titlePaymentBar{
        position: relative;
        top:15px;    
    }
    
    .PaymentView{
        position: relative;
        top:0px;    
        word-wrap: break-word;
        height: 100%;
    }
}