@media all and (min-width: 1200px) {
    .serverBar{
        position: relative;
        left: 0;
        height: 40px;
        width: 100%;
        background-color: rgb(101, 135, 187);
        color: white;
        text-align: center;
    }

    .titleServerBar{
        position: relative;
        top:8px;    
    }

    .serverBox{
        position: relative;
        top:50px;
    }
    
    .ServerView{
        background-color: rgb(215, 250, 208);
        word-wrap: break-word;
        height: 100%;
    }

    .ServerMenu{
        word-wrap: break-word;
    }
}